#col1 {
	background-color: grey
}
#col2 {
	background-color: lightgrey
}
#col3 {
	background-color: grey
}
#colsm1 {
	background-color: grey
}
#colsm2 {
	background-color: lightgrey
}
#colsm3 {
	background-color: grey
}
#collg1{
	background-color: grey
}
#collg2{
	background-color: lightgrey
}
#colcomp1 {
	background-color: grey
}
#colcomp2 {
	background-color: lightgrey
}
#colcomp3 {
	background-color: lightblue
}
#colcomp4{
	background-color: orange
}
